.PlaybookCardContainer {
  display: flex;
  flex-direction: column;
  border: 2px solid white;
  border-radius: 2px;
  width: 400px;
  height: auto;
}

.PlayBookCardAgentImage {
  width: 100px;
  height: 100px;
}

.PlaybookNameAndAgent {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
